@model PagedList.IPagedList<Portfolio.Models.Project>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Add Categories", "Index", "CategoryProjects")
    </p>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("First Name", "Index",
                new { sortOrder = "First Name", CurrentSort = ViewBag.CurrentSort })
            </th>
            <th>
                @Html.ActionLink("Title", "Index",
                new { sortOrder = "Title", CurrentSort = ViewBag.CurrentSort })
            </th>
            <th>
                @Html.ActionLink("Description", "Index",
                new { sortOrder = "Description", CurrentSort = ViewBag.CurrentSort })
            </th>
            <th>
                @Html.ActionLink("Project Date", "Index",
                new { sortOrder = "Project Date", CurrentSort = ViewBag.CurrentSort })
            </th>
            <th>
                @Html.ActionLink("Last Updated", "Index",
                new { sortOrder = "Last Updated", CurrentSort = ViewBag.CurrentSort })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ProjectId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ProjectId })
                    </td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.ProjectId })
                    </td>
                }
            </tr>
        }

    </table>
    <br />
    <div id='Paging' style="text-align:center">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
}